.cardsTitulo{
  height: auto;
  /* Ajustar automáticamente al contenido */
  max-height: 600px;
  /* Altura máxima para que no sea tan alta */
  width: 100%;
  background-color: #ffffff;
  /* Fondo blanco */
  padding: 2%;
  /* Ajuste del relleno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  /* Sombra */
  border: 1px solid #ffffff;
  /* Borde resaltado */
  border-radius: 0.4rem;
  /* Bordes redondeados */
  margin-top: 1rem;
  /* Espacio superior para separar del título */
}

.cardsTitulo h3{
  color: var(--green);
  text-align: left;
  padding-bottom: 1%;
  font-weight: bolder;
  font-size: 20px;
}

.parentContainer {
  width: 100%;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.parentContainer {
  flex: 1 1 30%; /* Ajusta el tamaño del contenedor */
  min-width: 250px; /* Tamaño mínimo del contenedor */
  transition: transform 0.3s ease; /* Añade animación de transición */
}

.parentContainer:hover {
  transform: scale(1.05); /* Efecto hover */
}

.loading, .no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; /* Ajusta la altura según sea necesario */
  text-align: center;
  color: #aaa;
  font-size: 18px;
}




@media screen and (max-width: 1200px) {
  .Cards {
    flex-direction: column;
  }

  .parentContainer {
    height: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .Cards {
    width: 90%;
  }
}