.Cards {
  display: flex;
  gap: 10px;
}

.cardsTitulo{
  height: auto;
  /* Ajustar automáticamente al contenido */
  max-height: 600px;
  /* Altura máxima para que no sea tan alta */
  width: 100%;
  background-color: #ffffff;
  /* Fondo blanco */
  padding: 2%;
  /* Ajuste del relleno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  /* Sombra */
  border: 1px solid #ffffff;
  /* Borde resaltado */
  border-radius: 0.7rem;
  /* Bordes redondeados */
  margin-top: 1rem;
  /* Espacio superior para separar del título */
}

.cardsTitulo h3{
  color: var(--green);
  text-align: left;
  padding-bottom: 1%;
}

.parentContainer {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .Cards {
    flex-direction: column;
  }

  .parentContainer {
    height: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .Cards {
    width: 90%;
  }
}