
.Dashboard {
  color: var(--black);
  background: var(--white);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.DashboardGlass {
  display: grid;
  height: 100%;
  width: 100%;
  background: var(--gray);
  gap: 16px;
  grid-template-columns: 11rem auto 20rem;
  overflow: hidden;
  box-shadow: var(--boxShadow);
}

.tabla{
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .DashboardGlass {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .DashboardGlass {
    grid-template-columns: 1fr;
  }
}
