.Ordenes {
    display: flex;
    height: 100vh; /* Ajuste la altura de la sección para ocupar toda la pantalla */
    width: 100%;
    background: var(--gray);
}

.SideBarContainer {
    flex: 0 0 200px; /* Ajusta este valor según el ancho que desees para el sidebar */
    background-color: var(--green); /* Ajusta según el color de fondo deseado */
}

.MainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra las tablas horizontalmente */
    justify-content: center; /* Centra las tablas verticalmente */
    padding: 1rem;
    box-sizing: border-box;
}

.MainContent > h1 {
    color: var(--green);
    font-weight: bold;
    padding-left: 2%;
    padding-top: 0.5rem;
}

.TableData1 {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

.TableData1 > .TableContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.TableContainer > h3 {
    color: var(--green);
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.TableContainer {
    margin-top: 200px;
    background-color: #ffffff;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: 1px solid #ffffff;
    border-radius: 0.4rem;
    box-sizing: border-box;
    width: 50px;
    height: 600px;
}

.TableContainer > .boton {
    margin-left: 520px;
}

/* Estilos para el contenedor de stock */
.stock {
    background-color: var(--white);
    border: 2px solid var(--white); /* Cambia '--green' por el color que prefieras */
    padding: 20px;
    margin-left: 20px; /* Ajusta este margen para controlar la separación */
    margin-top: 90px;
    margin-right: 430px;
    border-radius: 6px;
    width: 400px; /* Ajusta según necesidades */
    text-align: center;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para resaltar */
    position: absolute; /* Posición relativa al contenedor padre */
    right: 0; /* Alineado a la derecha */
    top: 0; /* Alineado arriba, ajusta según necesidades */
}

/* Estilo para el título del stock */
.stock h2 {
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--green); /* Cambia '--green' por el color que prefieras */
    font-size: 22px;
}

.stock span{
    font-weight: bold;
    font-size: 30px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--green); 
}

/* Añadir más estilos según necesidades */

