.updateData {
    display: flex;
    flex-direction: column; /* Organiza los hijos en una columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: auto; /* Ajustar automáticamente al contenido */
    max-height: 600px; /* Altura máxima para que no sea tan alta */
    width: 100%; /* Ajusta según sea necesario, prueba también con un ancho fijo si es necesario */
    background-color: #ffffff; /* Fondo blanco */
    padding: 2%; /* Ajuste del relleno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra */
    border: 1px solid #ffffff; /* Borde resaltado */
    border-radius: 0.4rem; /* Bordes redondeados */
    margin-top: 5rem; /* Espacio superior para separar del título */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
}

.updateData h3 {
    color: var(--green);
    padding-bottom: 5%;
    padding-left: 2%;
    text-align: left; 
    font-size: 20px;
    font-weight: bold;
    padding-top: 5%;
    width: 100%; 
}

.Updates {
    display: flex;
    flex-direction: column; /* Organizar en filas */
    gap: 1rem; /* Espacio entre las filas */
    align-items: center; /* Centra horizontalmente */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.update {
    display: flex;
    gap: 0.5rem;
    flex: 1; /* Para que cada update ocupe el mismo espacio */
}

.Updates span{
    color: var(--green);
    
}

.Updates ul {
    list-style-type: disc; /* Añade viñetas */
    padding-top: 20px;
    text-align: left;
}

