.updateData {
    height: auto; /* Ajustar automáticamente al contenido */
    max-height: 600px; /* Altura máxima para que no sea tan alta */
    width: 100%;
    background-color: #ffffff; /* Fondo blanco */
    padding: 2%; /* Ajuste del relleno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra */
    border: 1px solid #ffffff; /* Borde resaltado */
    border-radius: 0.7rem; /* Bordes redondeados */
    margin-top: 5rem; /* Espacio superior para separar del título */
}

.updateData h3{
    color: var(--green);
    padding-bottom: 5%;
    text-align: left;
}

.Updates {
    width: 100%;
    display: flex;
    flex-direction: column; /* Organizar en filas */
    gap: 1rem; /* Espacio entre las filas */
}

.row {
    display: flex; /* Organizar elementos en una fila */
    gap: 1rem; /* Espacio entre los elementos */
    background: #436850;
    border-radius: 0.7rem;
    padding: 1rem;
    font-size: 13px;
}

.update {
    display: flex;
    gap: 0.5rem;
    flex: 1; /* Para que cada update ocupe el mismo espacio */
}

.update>img {
    width: 3.2rem;
    height: 3.2rem;
}

.noti>div>span:nth-of-type(1) {
    font-weight: bold;
    color: var(--white);
}

.noti>div>span:nth-of-type(2) {
    color: var(--white);
}

.noti>span:nth-of-type(1) {
    color: var(--white);
}
